#heading {
    background-image: url(man\ made\ 2.jpg);
    height: 300px;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 60px;
    /* background-attachment: fixed; */
    background-size: cover;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}
p{
    font-size: 30px;
    color: black;
    margin-top: 10px;
    color: white;
    
}

body{display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
    background-color: #222426;
    }

#heads{
    font-size: 40px;
    margin-left: 600px;
    color: white;
    
 } 
 
#man{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
   text-align: center;
   margin: 10px;
   /* height: 300px;
   width: 300px; */
/* height: fit-content; */
padding-bottom: 20px;
   margin-top: 30px;
   color: white;
  
}


.man{
    padding: 30px;
}

#icon{
    font-size: 70px;
    margin-right: 1400px;
    position: absolute;
    margin-bottom: 2000px;
    color: rgb(240, 238, 238);
    list-style-type: none;
    text-decoration: none;
    
}
#icon:hover{
    color: aqua;
}