.tiff{
    justify-content: space-around;
    justify-content: space-between;
   text-align: center;
   margin: 10px;
   height: fit-content;
   width: 300px;
   border: 3px solid aqua;
height: fit-content;
padding-bottom: 20px;
background-color:#0076A3;
   margin-top: 30px;
   animation: slide 8s;


}

#heading {
    background-image: url(tiffany\ 4.jpg);
    height: fit-content;
    width: 100%;
    color: aqua;
    text-align: center;
    font-size: 60px;
    /* background-attachment: fixed; */
    /* background-size: cover; */
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    animation: slide 5s ;
}

@keyframes slide{

    0%{
        transform: slide(0deg);
    }

    100%{
        transform: slide(360deg);
    }
    
}


h1{
    animation: fadein 10s ;
}
@keyframes fadein{

    0%{
        opacity: 0;
    }

    100%{
        opacity: 0.5s; 
    }
    
}
#heading p{
    font-size: 30px;
    color: aqua;
    animation: slide 8s;
}
button{
    color: aqua;
    background-color: black;
    font-size: 20px;
}

body{display: flex;
flex-wrap: wrap;
justify-content: space-around;
justify-content: space-between;
background-color: #222426;

}

@keyframes slide{

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}


#icon{
    font-size: 70px;
    margin-right: 1400px;
    position: absolute;
    margin-bottom: 2000px;
    color: rgb(240, 238, 238);
    list-style-type: none;
    text-decoration: none;
    
}
#icon:hover{
    color: aqua;
}